.preloader {
  margin: 0 auto;
  width: 100%;
  position: relative;
  min-height: 70vh;
  &__spinner {
    left: calc(50% - 40px); //40px it's half of spinner width
    top: 50px;
  }
  &__loader-text {
    top: -50px;
  }
}