$ipad-width : 768px;
$box-hightlight-grey: #272727;

.header {
  position: sticky;
  
  margin-bottom: 20px;
  padding: 16px 0;
  top: 0;
  overflow: hidden;
  
  background-color: #fff;
  opacity: 0.95;
  box-shadow: 0 0 10px $box-hightlight-grey;
  
  z-index: 3;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__delivery-info {
    display: flex;
    margin-left: 4vw;
    @media (max-width: $ipad-width) {
      display: none;
    }
  }
  
  &__search {
    margin-left: auto;
    @media (max-width: $ipad-width) {
      display: none;
    }
  }

  &__link {
    display: block;
    white-space: nowrap;
    
    color: black;
    
    margin-left: 40px;
    padding: 5px 12px;

    border-radius: 50px;
    box-shadow: 0 0 10px $box-hightlight-grey;
    transition: all 0.2s;
    
    &:hover {
      text-decoration: underline;
    }
    
    &--pressed {
      box-shadow: 0 0 5px $box-hightlight-grey;
      transform: scale(0.9);
    }
  }

  &__toggle-buttons {
    display: none;
    margin-left: auto;
    @media (max-width: $ipad-width) {
      display: flex;
    }
  }

  &__toggle-btn {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    
    &:not(:last-of-type) {
      margin-right: 24px;
    }
    
    &:last-of-type {
      margin-right: -20px;
    }

    &:focus {
      background-color: #bdb5b5;
    }
    
  }
  
  &__toggle-icon {
    width: 24px;
    height: 24px;
  }

}

.mobile-controls {
  display: none;
  position: relative;
  padding: 30px 0;
  

  @media (max-width: $ipad-width) {
    display: flex;
  }

  &__close {
    display: flex;
    position: absolute;
    top: 12px;
    right: 0;
  }

  &__close-btn {
    width: 24px;
  }
}
